@page
@model recruitcatturannu.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of Company</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MinSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MinSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaxSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaxSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Current_PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Current_PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyOfficeLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyOfficeLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry.IndustryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Revenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Revenue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.NumberOfEmployees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.NumberOfEmployees)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].TargetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].Industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Candidates[0].LinkedInProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Company.Candidates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Industry.IndustryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkedInProfile)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CandidateId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CandidateId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CandidateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
