@page
@model AgainTrial.Pages.ShoppingCarts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCart[0].Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCart[0].Orders)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShoppingCart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.OrderId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShoppingCartId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShoppingCartId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShoppingCartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
